<!-- wp:template-part {"slug":"header","theme":"warsa","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-background-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"warsa/post-cover"} /-->
  <!-- wp:pattern {"slug":"warsa/editor-choice"} /-->
  <!-- wp:pattern {"slug":"warsa/popular"} /-->
  <!-- wp:pattern {"slug":"warsa/ads"} /-->
  <!-- wp:pattern {"slug":"warsa/latest"} /-->
  <!-- wp:pattern {"slug":"warsa/newsletter"} /-->
  <!-- wp:pattern {"slug":"warsa/most-read"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"warsa","area":"footer"} /-->
